@import "tailwindcss";

@font-face {
  font-family: "Bespoke";
  src: url(./assets/fonts/BespokeSerif-Regular.ttf);
}

@font-face {
  font-family: "Anton";
  src: url(./assets/fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: "Helvetica";
  src: url(./assets/fonts/Helvetica.ttf);
}

@font-face {
  font-family: "Modak";
  src: url(./assets/fonts/Modak-Regular.ttf);
}

@theme {
  --color-surface-0: #0c090a;
  --color-main-0: #dfd3b9;
  --color-cherry-0: #a52a2a;
  --color-sand-dune: #ebdfc9;
  --color-red-ochre: #cd400b;
  --color-dark-garnet: #611f11;
  --color-goldenrod: #c15939;
  --color-khaki-beige: #a6a096;
  --color-rust-brown: #a33918;
  --color-flag-red: #d22925;
  --color-dark-khaki: #27240d;
  --font-bespoke: "Bespoke";
  --font-anton: "Anton", "sans-serif";
  --font-helvetica: "Helvetica", "sans-serif";
  --font-modak: "Modak", "sans-serif";
}

html {
  background-color: var(--color-surface-0);
}
html::-webkit-scrollbar {
  display: none;
}
